section.events-main.col-xs-12.col-sm-8.col-md-9
	.events-main__wrapper
		h2 Мероприятия
		.events-main__btn-all
			a.btn.btn--center(href="") Все мероприятия
		.events-main__carousel
			.events-main__items.owl-carousel#event-carousel
				.events-main__item
					.events-main__img
						img(src="img/pics/event1.jpg", alt="")
					.events-main__date
						span 2 февраля 2016
					a.events-main__link(href="") XIX ФЕСТИВАЛЬ «ТЕХНОЛОГИИ КРАСОТЫ-2016»
					.events-main__place Месторасположение:
						span Екатеринбург, КОСК «Россия», ул. Высоцкого, 14
				.events-main__item
					.events-main__img
						img(src="img/pics/event2.png", alt="")
					.events-main__date
						span 11 февраля 2016
					a.events-main__link(href="") Ежегодная научно-практическая конференция «Практическая гастроэнтерология 2016»
					.events-main__place Месторасположение:
						span Москва, ул. Новый Арбат, 36/9, здание Правительства Москвы.
				.events-main__item
					.events-main__img
						img(src="img/pics/event3.jpg", alt="")
					.events-main__date
						span 15 февраля 2016
					a.events-main__link(href="") Саммит PharmaBusiness-2016
					.events-main__place Месторасположение:
						span Москва, Swissôtel Красные Холмы
			.events-main__nav
				a.events-main__nav-left(href="")
				a.events-main__nav-right(href="")