section.news-main.col-xs-12
	.news-main__row.row

		.news-main__company.col-xs-12.col-sm-6
			h2 Новости компаний
			ul.news-main__items
				li.news-main__item
					.news-main__item-img
						img(src="img/pics/news-company1.jpg", alt="")
					.news-main__item-date
						span 20 октября 2015
					a.news-main__item-link(href="") Компании Merck и НАНОЛЕК заключили соглашение о производстве в России препаратов для лечения социально значимых заболеваний
					.news-main__item-company-logo
						img(src="img/pics/company1.jpg", alt="")
				li.news-main__item
					.news-main__item-img
						img(src="img/pics/news-company2.png", alt="")
					.news-main__item-date
						span 19 октября 2015
					a.news-main__item-link(href="") Комплаентность терапии — снижение факторов риска ССЗ
					.news-main__item-company-logo
						img(src="img/pics/company2.jpg", alt="")
				li.news-main__item
					.news-main__item-img
						img(src="img/pics/news-company3.jpg", alt="")
					.news-main__item-date
						span 16 октября 2015
					a.news-main__item-link(href="") В Москве обсудят опыт применения первого российского биоаналога ритуксимаба
					.news-main__item-company-logo
						img(src="img/pics/company3.jpg", alt="")
			a(href="").btn.btn--center.col-xs-12 Смотреть все новости компаний

		.news-main__med.col-xs-12.col-sm-6
			h2 Новости медицины
			ul.news-main__items
				li.news-main__item
					.news-main__item-img
						img(src="img/pics/news-med1.jpg", alt="")
					.news-main__item-date
						span 27 августа 2015
					a.news-main__item-link(href="") Впервые на северо-западе в Детской городской больнице № 1 проведены уникальные операции по лечению порока сердца у детей
				li.news-main__item
					.news-main__item-img
						img(src="img/pics/news-med2.jpg", alt="")
					.news-main__item-date
						span 27 августа 2015
					a.news-main__item-link(href="") Секреты мезотерапии — в специальном выпуске!
				li.news-main__item
					.news-main__item-img
						img(src="img/pics/news-med3.jpg", alt="")
					.news-main__item-date
						span 3 июня 2015
					a.news-main__item-link(href="") Новое направление — когнитивная реабилитация при рассеянном склерозе: роль пластичности мозга
			a(href="").btn.btn--center.col-xs-12 Смотреть все новости