footer.page-footer
	.page-footer__inner.container
		.page-footer__row.row
			.col-xs-6.col-sm-4.col-md-4
				a.page-footer__logo(href="#")
					img(src="img/logo-min.png", alt="")
				.page-footer__copyright.
					© 1999-2015<br>
					Все права защищены<br>
					Администрация сайта:<br>
					<a href="mailto:content@con-med.ru">content@con-med.ru</a>
			.col-xs-6.col-sm-2.col-md-2
				.page-footer__info
					h4 ИНФОРМАЦИЯ
					ul.page-footer__info-list
						li.page-footer__info-item
							a(href="#") О сайте
						li.page-footer__info-item
							a(href="#") Правила
						li.page-footer__info-item
							a(href="#") Соглашения
			.col-xs-6.col-sm-2.col-md-2
				ul.page-footer__info-list.page-footer__info-list--margin-top
					li.page-footer__info-item
						a(href="#") Помощь
					li.page-footer__info-item
						a(href="#") Контакты
					li.page-footer__info-item
						a(href="#") Автора
			.col-xs-12.col-sm-4.col-md-3.col-md-offset-1
				form(action="#").page-footer__search.hidden-xs
					input(type="text" placeholder="Поиск" required).page-footer__serch-input
					input(type="submit", value="").page-footer__search-btn
				.page-footer__developer Разработка сайта <a href="http://novoxpro.ru">novoxpro.ru</a><br>
					|Поддержка и продвижение <a href="http://softcan.ru">softcan.ru</a>