section.videoconf-main.col-xs-12
	.videoconf-main__wrapper
		h2 Видеоконференции
		a.btn.videoconf-main__top-btn.hidden-xs(href="") Все видеоконференции
		.row
			.videoconf-main__future.col-xs-12.col-md-9
				h3 Предстоящие
				a.btn.btn--blue.btn--calendar.videoconf-main__calendar-btn.visible-xs(href="")
				.videoconf-main__future-item.col-xs-12.col-sm-9
					.row: .row
						.col-sm-6
							.videoconf-main__future-img
								img(src="img/pics/videoconference1.jpg", alt="")
							.videoconf-main__future-pay-btn.hidden-xs
								a.btn.btn--blue.btn--center(href="") Купить доступ
						.videoconf-main__future-description.col-sm-6
							.videoconf-main__future-date
								span 22 сентября 2015
							a.videoconf-main__future-link(href="") Вебинар "Минимизация риска геморрагических осложнений на фоне антикоагулянтной и антитромботической терапии"
							.videoconf-main__future-org Организатор:
								a(href="") Рош (Roche)
							.videoconf-main__future-spec Специализации:
								ul
									li
										a(href="") Диабетология
									li
										a(href="") Кардиология
									li
										a(href="") Общая врачебная практика (семейная медицина)
									li
										a(href="") Эндокринология
									li
										a(href="") Терапия
						.col-xs-12.visible-xs
							.videoconf-main__future-pay-btn
								a.btn.btn--blue.btn--center(href="") Купить доступ
				.videoconf-main__future-calendar.hidden-xs.col-sm-3.col-md-3
					.row
						.calendar
							.calendar__month
								a.calendar__arrow-left(href="")
								span Сентябрь, 2015
								a.calendar__arrow-right(href="")
							.calendar__table
								ul.calendar__table-head
									li ПН
									li ВТ
									li СР
									li ЧТ
									li ПТ
									li СБ
									li ВС
								ul.calendar__table-body
									li.calendar__disabled 29
									li.calendar__disabled 31
									li 1
									li
										span.calendar__blue 2
									li 3
									li 4
									li 5
									li 6
									li 7
									li 8
									li 9
									li 10
									li 11
									li 12
									li 13
									li 14
									li
										span.calendar__blue 15
									li 16
									li 17
									li 18
									li 19
									li 20
									li 21
									li
										span.calendar__red 22
									li 23
									li 24
									li 25
									li 26
									li 27
									li 28
									li 29
									li 30
									li 31
									li 1
									li 2

			section.banner-right.visible-lg.col-xs-12.col-md-3
				.banner-right__wrapper
					a(href="#")
						img(src="img/pics/banner3.jpg", alt="")

			.clearfix

			.videoconf-main__past
				h3.col-xs-12 Прошедшие
				.videoconf-main__past-carousel.col-xs-12.col-sm-8.col-md-12
					.videoconf-main__past-items.owl-carousel#videoconf-past-carousel
						.videoconf-main__past-item
							.videoconf-main__past-item-img
								img(src="img/pics/videoconference2.jpg", alt="")
							.videoconf-main__past-item-date
								span 22 июля 2015
							a.videoconf-main__past-item-link(href="") Вебинар "Безопасность применения лекарственных средств у беременных"
						.videoconf-main__past-item
							.videoconf-main__past-item-img
								img(src="img/pics/videoconference3.jpg", alt="")
							.videoconf-main__past-item-date
								span 22 июля 2015
							a.videoconf-main__past-item-link(href="") Вебинар "Обсессивно-компульсивное расстройство (Часть 1): этиопатогенетические и диагностические аспекты"
						.videoconf-main__past-item
							.videoconf-main__past-item-img
								img(src="img/pics/videoconference4.jpg", alt="")
							.videoconf-main__past-item-date
								span 22 июля 2015
							a.videoconf-main__past-item-link(href="") Вебинар "Рациональная фармакотерапия болевого синдрома - акцент на НПВС"
						.videoconf-main__past-item
							.videoconf-main__past-item-img
								img(src="img/pics/videoconference5.jpg", alt="")
							.videoconf-main__past-item-date
								span 22 июля 2015
							a.videoconf-main__past-item-link(href="") Вебинар "Минимизация риска геморрагических осложнений на фоне антикоагулянтной и антитромботической терапии"
						.videoconf-main__past-item
							.videoconf-main__past-item-img
								img(src="img/pics/videoconference2.jpg", alt="")
							.videoconf-main__past-item-date
								span 22 июля 2015
							a.videoconf-main__past-item-link(href="") Вебинар "Безопасность применения лекарственных средств у беременных"
						.videoconf-main__past-item
							.videoconf-main__past-item-img
								img(src="img/pics/videoconference3.jpg", alt="")
							.videoconf-main__past-item-date
								span 22 июля 2015
							a.videoconf-main__past-item-link(href="") Вебинар "Обсессивно-компульсивное расстройство (Часть 1): этиопатогенетические и диагностические аспекты"
						.videoconf-main__past-item
							.videoconf-main__past-item-img
								img(src="img/pics/videoconference4.jpg", alt="")
							.videoconf-main__past-item-date
								span 22 июля 2015
							a.videoconf-main__past-item-link(href="") Вебинар "Рациональная фармакотерапия болевого синдрома - акцент на НПВС"
						.videoconf-main__past-item
							.videoconf-main__past-item-img
								img(src="img/pics/videoconference5.jpg", alt="")
							.videoconf-main__past-item-date
								span 22 июля 2015
							a.videoconf-main__past-item-link(href="") Вебинар "Минимизация риска геморрагических осложнений на фоне антикоагулянтной и антитромботической терапии"
					.videoconf-main__past-nav.hidden-xs
						a.videoconf-main__past-nav-left(href="")
						a.videoconf-main__past-nav-right(href="")

					a(href="").btn.btn--center.visible-xs Все видеоконференции

				section.banner-right.hidden-xs.hidden-lg.col-sm-4
					.banner-right__wrapper
						a(href="#")
							img(src="img/pics/banner3.jpg", alt="")