.banner-horizontal {

	&__wrapper {
		text-align: center;
		height: 90px;
		overflow: hidden;
	}

	a {
		display: block;
	}

	img {
		height: 100%;
		width: auto;
		max-width: none;
	}

	&--margin-bottom {
		margin-bottom: 61px;
	}
}