@s-appstore: 118px 52px -118px -52px 116px 40px 265px 171px url('../img/sprite.png');
@s-arrow-left--hover: 150px 96px -150px -96px 49px 49px 265px 171px url('../img/sprite.png');
@s-arrow-left: 50px 96px -50px -96px 49px 49px 265px 171px url('../img/sprite.png');
@s-arrow-right--hover: 100px 96px -100px -96px 49px 49px 265px 171px url('../img/sprite.png');
@s-arrow-right: 0px 96px 0px -96px 49px 49px 265px 171px url('../img/sprite.png');
@s-burger-blue: 235px 78px -235px -78px 14px 12px 265px 171px url('../img/sprite.png');
@s-calendar-left: 261px 60px -261px -60px 4px 7px 265px 171px url('../img/sprite.png');
@s-calendar-right: 261px 52px -261px -52px 4px 7px 265px 171px url('../img/sprite.png');
@s-card-pay: 0px 52px 0px -52px 117px 43px 265px 171px url('../img/sprite.png');
@s-icon-burger: 250px 78px -250px -78px 14px 12px 265px 171px url('../img/sprite.png');
@s-icon-calendar: 52px 146px -52px -146px 14px 16px 265px 171px url('../img/sprite.png');
@s-icon-cart: 241px 96px -241px -96px 18px 16px 265px 171px url('../img/sprite.png');
@s-icon-eye--big: 130px 40px -130px -40px 14px 10px 265px 171px url('../img/sprite.png');
@s-icon-eye--white: 158px 40px -158px -40px 12px 8px 265px 171px url('../img/sprite.png');
@s-icon-eye: 145px 40px -145px -40px 12px 8px 265px 171px url('../img/sprite.png');
@s-icon-fb: 26px 146px -26px -146px 25px 25px 265px 171px url('../img/sprite.png');
@s-icon-key: 241px 113px -241px -113px 16px 16px 265px 171px url('../img/sprite.png');
@s-icon-menu-dropdown: 171px 40px -171px -40px 11px 6px 265px 171px url('../img/sprite.png');
@s-icon-ok: 0px 146px 0px -146px 25px 25px 265px 171px url('../img/sprite.png');
@s-icon-play: 200px 96px -200px -96px 40px 40px 265px 171px url('../img/sprite.png');
@s-icon-vk: 235px 52px -235px -52px 25px 25px 265px 171px url('../img/sprite.png');
@s-wm-pay: 130px 0px -130px 0px 135px 39px 265px 171px url('../img/sprite.png');
@s-yandex-pay: 0px 0px 0px 0px 129px 51px 265px 171px url('../img/sprite.png');
