@s-appstore: 0px 0px 0px 0px 116px 40px 164px 138px url('../img/sprite.png');
@s-arrow-left--hover: 50px 41px -50px -41px 49px 49px 164px 138px url('../img/sprite.png');
@s-arrow-left: 117px 0px -117px 0px 47px 47px 164px 138px url('../img/sprite.png');
@s-arrow-right--hover: 0px 41px 0px -41px 49px 49px 164px 138px url('../img/sprite.png');
@s-arrow-right: 0px 91px 0px -91px 47px 47px 164px 138px url('../img/sprite.png');
@s-icon-burger: 100px 58px -100px -58px 14px 12px 164px 138px url('../img/sprite.png');
@s-icon-cart: 126px 91px -126px -91px 18px 16px 164px 138px url('../img/sprite.png');
@s-icon-eye--big: 100px 71px -100px -71px 14px 10px 164px 138px url('../img/sprite.png');
@s-icon-eye--white: 145px 91px -145px -91px 12px 8px 164px 138px url('../img/sprite.png');
@s-icon-eye: 100px 82px -100px -82px 12px 8px 164px 138px url('../img/sprite.png');
@s-icon-fb: 74px 91px -74px -91px 25px 25px 164px 138px url('../img/sprite.png');
@s-icon-key: 100px 41px -100px -41px 16px 16px 164px 138px url('../img/sprite.png');
@s-icon-menu-dropdown: 145px 100px -145px -100px 11px 6px 164px 138px url('../img/sprite.png');
@s-icon-ok: 48px 91px -48px -91px 25px 25px 164px 138px url('../img/sprite.png');
@s-icon-play: 117px 48px -117px -48px 40px 40px 164px 138px url('../img/sprite.png');
@s-icon-vk: 100px 91px -100px -91px 25px 25px 164px 138px url('../img/sprite.png');
