include ../mixins/_svg

doctype
html(lang="ru")

	include ../components/_head

	body
		.body-wrapper.container
			include ../components/_page-header

			block content

			include ../components/_page-footer

include ../components/_footer