<section class="actual col-xs-12 col-md-9">
  <h2>Актуально</h2>
  <div class="actual__slider">
    <div id="actual-slider-head" class="actual__slider-head">
      <div class="actual__slide-description">
        <p></p>
        <div class="actual__slide-description-watch"></div>
      </div><img src="" alt="" class="actual__slider-img" />
      <a href="" class="actual__slider-link"></a>
    </div>
    <div class="actual__slider-footer">
      <div id="actual-slider" class="actual__slider-items owl-carousel">
        <div data-img="img/pics/slider1.jpg" data-href="#1" class="actual__slider-item">
          <div class="actual__slider-item-title">Рецензия на монографию Т.Э.Глущенко, М.Ф.Белокрыловой</div>
          <div class="actual__slider-item-category">Психиатрия</div>
          <div class="actual__slider-item-watch">232</div>
        </div>
        <div data-img="img/pics/slider1.jpg" data-href="#2" class="actual__slider-item">
          <div class="actual__slider-item-title">Хронические заболевания вен: наследственные или приобретенные?</div>
          <div class="actual__slider-item-category">Хирургия</div>
          <div class="actual__slider-item-watch">174</div>
        </div>
        <div data-img="img/pics/slider1.jpg" data-href="#3" class="actual__slider-item">
          <div class="actual__slider-item-title">Взаимосвязь полиморфного аллельного варианта rs619203 гена-рецептора</div>
          <div class="actual__slider-item-category">Кардиосоматика</div>
          <div class="actual__slider-item-watch">343</div>
        </div>
      </div>
      <div class="actual__slider-nav hidden-xs">
        <a href="#" class="actual__slider-left"></a>
        <a href="#" class="actual__slider-right"></a>
      </div>
    </div>
  </div>
</section>