<section class="events-main col-xs-12 col-sm-8 col-md-9">
  <div class="events-main__wrapper">
    <h2>Мероприятия</h2>
    <div class="events-main__btn-all"><a href="" class="btn btn--center">Все мероприятия</a></div>
    <div class="events-main__carousel">
      <div id="event-carousel" class="events-main__items owl-carousel">
        <div class="events-main__item">
          <div class="events-main__img"><img src="img/pics/event1.jpg" alt="" /></div>
          <div class="events-main__date"><span>2 февраля 2016</span></div><a href="" class="events-main__link">XIX ФЕСТИВАЛЬ «ТЕХНОЛОГИИ КРАСОТЫ-2016»</a>
          <div class="events-main__place">Месторасположение:<span>Екатеринбург, КОСК «Россия», ул. Высоцкого, 14</span></div>
        </div>
        <div class="events-main__item">
          <div class="events-main__img"><img src="img/pics/event2.png" alt="" /></div>
          <div class="events-main__date"><span>11 февраля 2016</span></div><a href="" class="events-main__link">Ежегодная научно-практическая конференция «Практическая гастроэнтерология 2016»</a>
          <div class="events-main__place">Месторасположение:<span>Москва, ул. Новый Арбат, 36/9, здание Правительства Москвы.</span></div>
        </div>
        <div class="events-main__item">
          <div class="events-main__img"><img src="img/pics/event3.jpg" alt="" /></div>
          <div class="events-main__date"><span>15 февраля 2016</span></div><a href="" class="events-main__link">Саммит PharmaBusiness-2016</a>
          <div class="events-main__place">Месторасположение:<span>Москва, Swissôtel Красные Холмы</span></div>
        </div>
      </div>
      <div class="events-main__nav hidden-xs">
        <a href="" class="events-main__nav-left"></a>
        <a href="" class="events-main__nav-right"></a>
      </div>
    </div>
  </div>
</section>