<section class="journal-carousel col-xs-12 col-sm-8 col-md-12">
  <div class="journal-carousel__wrapper">
    <h2>Новое в журналах</h2><a href="#" class="btn btn--blue journal-carousel__all-journal-top hidden-xs">Все журналы</a>
    <div class="journal-carousel__carousel">
      <div id="journal-carousel" class="owl-carousel">
        <div class="journal-carousel__item">
          <div class="journal-carousel__item-top"><img src="img/pics/book1.png" alt="" />
            <h3>Психиатрия и психофармакотерапия им. П.Б. Ганнушкина</h3><span>№04 2015</span> </div>
          <div class="journal-carousel__item-bottom">
            <div class="journal-carousel__item-bottom-title">В номере:</div>
            <ul class="journal-carousel__item-bottom-list">
              <li><a href="#">Рецензия на монографию Т.Э.Глущенко, М.Ф.Белокрыловой</a></li>
              <li><a href="#">Спектр применения Афобазола в общемедицинской практике (обзор клинических исследований)</a></li>
              <li><a href="#">Паническое расстройство: опыт использования эсциталопрама</a></li>
            </ul>
          </div>
        </div>
        <div class="journal-carousel__item">
          <div class="journal-carousel__item-top"><img src="img/pics/book2.png" alt="" />
            <h3>Хирургия</h3><span>№01 2015</span> </div>
          <div class="journal-carousel__item-bottom">
            <div class="journal-carousel__item-bottom-title">В номере:</div>
            <ul class="journal-carousel__item-bottom-list">
              <li><a href="#">Хронические заболевания вен: наследственные или приобретенные?</a></li>
              <li><a href="#">Билиарный аскаридоз: возможности современных методов диагностики</a></li>
              <li><a href="#">Выбор анальгетика в хирургической практике: в фокусе декскетопрофен</a></li>
            </ul>
          </div>
        </div>
        <div class="journal-carousel__item">
          <div class="journal-carousel__item-top"><img src="img/pics/book3.png" alt="" />
            <h3>Кардиосоматика</h3><span>№02 2015</span> </div>
          <div class="journal-carousel__item-bottom">
            <div class="journal-carousel__item-bottom-title">В номере:</div>
            <ul class="journal-carousel__item-bottom-list">
              <li><a href="#">Взаимосвязь полиморфного аллельного варианта rs619203 гена-рецептора т...</a></li>
              <li><a href="#">Пациент после инфаркта миокарда: как снизить риск повторного ишемическ...</a></li>
              <li><a href="#">Вопросы вторичной профилактики и реабилитации пациентов с инфарктом м...</a></li>
            </ul>
          </div>
        </div>
        <div class="journal-carousel__item">
          <div class="journal-carousel__item-top"><img src="img/pics/book4.png" alt="" />
            <h3>Дерматология</h3><span>№01 2015</span> </div>
          <div class="journal-carousel__item-bottom">
            <div class="journal-carousel__item-bottom-title">В номере:</div>
            <ul class="journal-carousel__item-bottom-list">
              <li><a href="#">Такролимус в лечении атопического дерматита: пропедевтические основы</a></li>
              <li><a href="#">Многоформная экссудативная эритема в практике дерматолога</a></li>
              <li><a href="#">Перспективы изотретиноина в терапии торпидных форм акне</a></li>
            </ul>
          </div>
        </div>
        <div class="journal-carousel__item">
          <div class="journal-carousel__item-top"><img src="img/pics/book1.png" alt="" />
            <h3>Психиатрия и психофармакотерапия им. П.Б. Ганнушкина</h3><span>№04 2015</span> </div>
          <div class="journal-carousel__item-bottom">
            <div class="journal-carousel__item-bottom-title">В номере:</div>
            <ul class="journal-carousel__item-bottom-list">
              <li><a href="#">Рецензия на монографию Т.Э.Глущенко, М.Ф.Белокрыловой</a></li>
              <li><a href="#">Спектр применения Афобазола в общемедицинской практике (обзор клинических исследований)</a></li>
              <li><a href="#">Паническое расстройство: опыт использования эсциталопрама</a></li>
            </ul>
          </div>
        </div>
        <div class="journal-carousel__item">
          <div class="journal-carousel__item-top"><img src="img/pics/book2.png" alt="" />
            <h3>Хирургия</h3><span>№01 2015</span> </div>
          <div class="journal-carousel__item-bottom">
            <div class="journal-carousel__item-bottom-title">В номере:</div>
            <ul class="journal-carousel__item-bottom-list">
              <li><a href="#">Хронические заболевания вен: наследственные или приобретенные?</a></li>
              <li><a href="#">Билиарный аскаридоз: возможности современных методов диагностики</a></li>
              <li><a href="#">Выбор анальгетика в хирургической практике: в фокусе декскетопрофен</a></li>
            </ul>
          </div>
        </div>
        <div class="journal-carousel__item">
          <div class="journal-carousel__item-top"><img src="img/pics/book3.png" alt="" />
            <h3>Кардиосоматика</h3><span>№02 2015</span> </div>
          <div class="journal-carousel__item-bottom">
            <div class="journal-carousel__item-bottom-title">В номере:</div>
            <ul class="journal-carousel__item-bottom-list">
              <li><a href="#">Взаимосвязь полиморфного аллельного варианта rs619203 гена-рецептора т...</a></li>
              <li><a href="#">Пациент после инфаркта миокарда: как снизить риск повторного ишемическ...</a></li>
              <li><a href="#">Вопросы вторичной профилактики и реабилитации пациентов с инфарктом м...</a></li>
            </ul>
          </div>
        </div>
        <div class="journal-carousel__item">
          <div class="journal-carousel__item-top"><img src="img/pics/book4.png" alt="" />
            <h3>Дерматология</h3><span>№01 2015</span> </div>
          <div class="journal-carousel__item-bottom">
            <div class="journal-carousel__item-bottom-title">В номере:</div>
            <ul class="journal-carousel__item-bottom-list">
              <li><a href="#">Такролимус в лечении атопического дерматита: пропедевтические основы</a></li>
              <li><a href="#">Многоформная экссудативная эритема в практике дерматолога</a></li>
              <li><a href="#">Перспективы изотретиноина в терапии торпидных форм акне</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="journal-carousel__nav">
        <a href="#" class="journal-carousel__nav-left"></a>
        <a href="#" class="journal-carousel__nav-right"></a>
      </div>
    </div><a href="#" class="btn btn--center visible-xs">Все журналы</a> </div>
</section>