<footer class="page-footer">
  <div class="page-footer__inner container">
    <div class="page-footer__row row">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <a href="#" class="page-footer__logo"><img src="img/logo-min.png" alt="" /></a>
        <div class="page-footer__copyright"> © 1999-2015<br> Все права защищены<br> Администрация сайта:<br> <a href="mailto:content@con-med.ru">content@con-med.ru</a> </div>
      </div>
      <div class="col-xs-6 col-sm-2 col-md-2">
        <div class="page-footer__info">
          <h4>ИНФОРМАЦИЯ</h4>
          <ul class="page-footer__info-list">
            <li class="page-footer__info-item"><a href="#">О сайте</a></li>
            <li class="page-footer__info-item"><a href="#">Правила</a></li>
            <li class="page-footer__info-item"><a href="#">Соглашения</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2 col-md-2">
        <ul class="page-footer__info-list page-footer__info-list--margin-top">
          <li class="page-footer__info-item"><a href="#">Помощь</a></li>
          <li class="page-footer__info-item"><a href="#">Контакты</a></li>
          <li class="page-footer__info-item"><a href="#">Автора</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
        <form action="#" class="page-footer__search hidden-xs"> <input type="text" placeholder="Поиск" required="required" class="page-footer__serch-input" /> <input type="submit" value="" class="page-footer__search-btn" /> </form>
        <div class="page-footer__developer"> Разработка сайта <a href="http://novoxpro.ru">novoxpro.ru</a><br> Поддержка и продвижение <a href="http://softcan.ru">softcan.ru</a> </div>
      </div>
    </div>
  </div>
</footer>