<header class="page-header">
  <div class="page-header__top row">
    <div class="page-header__logo-area col-xs-6 col-sm-8 col-md-6"><a href="" class="page-header__mainpage-link">На главную</a>
      <a href="" class="page-header__logo"></a>
      <div class="page-header__many-doctors">С нами уже<br class="visible-xs" /><strong> 100 000</strong> врачей</div><a href="" class="btn hidden-xs">Присоединиться</a>
      <a href="" class="page-header__appstore hidden-xs"></a>
    </div>
    <div class="page-header__socials-area hidden-xs hidden-sm col-md-3"><strong class="page-header__socials-title">Мы в социальных сетях</strong>
      <div class="page-header__socials-list-pharma">Для фармацевтов
        <ul class="page-header__social-list">
          <li class="page-header__social-item page-header__social-item--vk">
            <a href=""></a>
          </li>
          <li class="page-header__social-item page-header__social-item--fb">
            <a href=""></a>
          </li>
          <li class="page-header__social-item page-header__social-item--ok">
            <a href=""></a>
          </li>
        </ul>
      </div>
      <div class="page-header__sicials-list-doctors">Для врачей
        <ul class="page-header__social-list">
          <li class="page-header__social-item page-header__social-item--vk">
            <a href=""></a>
          </li>
          <li class="page-header__social-item page-header__social-item--fb">
            <a href=""></a>
          </li>
          <li class="page-header__social-item page-header__social-item--ok">
            <a href=""></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-header__personal-area col-xs-6 col-sm-4 col-md-3">
      <div class="page-header__personal-area-wrapper">
        <div class="page-header__login"><a href="" class="page-header__signin">Войти</a><br class="visible-xs" /><a href="" class="page-header__signup">Зарегистрироваться</a></div><a href="" class="page-header__cart"><span class="page-header__cart-counter">1</span>2 000<span class="rouble">a</span></a>        </div>
    </div>
  </div>
  <div class="page-header__bottom row">
    <div class="col-xs-6 col-sm-8 col-md-9"><a id="menu-show" href="" class="page-header__burger visible-xs visible-sm">Меню</a>
      <menu class="page-header__menu">
        <li><a href="">ЖУРНАЛЫ</a></li>
        <li><a href="">ВИДЕОКОНФЕРЕНЦИИ</a></li>
        <li><a href="">МЕРОПРИЯТИЯ</a></li>
        <li><a href="">КОМПАНИИ</a></li>
        <li><a href="">ЛЕКАРСТВА</a></li>
        <li><a href="">ПАРТНЕРЫ</a></li>
        <li><a href="">АВТОРАМ</a></li>
      </menu>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <form id="form-search" action="" class="page-header__search"> <input type="text" placeholder="Поиск" name="search" /> <input type="submit" value="" class="page-header__search-btn" /> </form>
    </div>
  </div>
</header>