<section class="videoconf-main col-xs-12">
  <div class="videoconf-main__wrapper">
    <h2>Видеоконференции</h2><a href="" class="btn videoconf-main__top-btn hidden-xs">Все видеоконференции</a>
    <div class="row">
      <div class="videoconf-main__future col-xs-12 col-md-9">
        <h3>Предстоящие</h3>
        <a href="" class="btn btn--blue btn--calendar videoconf-main__calendar-btn visible-xs"></a>
        <div class="videoconf-main__future-item col-xs-12 col-sm-9">
          <div class="row">
            <div class="row">
              <div class="col-sm-6">
                <div class="videoconf-main__future-img"><img src="img/pics/videoconference1.jpg" alt="" /></div>
                <div class="videoconf-main__future-pay-btn hidden-xs"><a href="" class="btn btn--blue btn--center">Купить доступ</a></div>
              </div>
              <div class="videoconf-main__future-description col-sm-6">
                <div class="videoconf-main__future-date"><span>22 сентября 2015</span></div><a href="" class="videoconf-main__future-link">Вебинар "Минимизация риска геморрагических осложнений на фоне антикоагулянтной и антитромботической терапии"</a>
                <div class="videoconf-main__future-org">Организатор:<a href="">Рош (Roche)</a></div>
                <div class="videoconf-main__future-spec">Специализации:
                  <ul>
                    <li><a href="">Диабетология</a></li>
                    <li><a href="">Кардиология</a></li>
                    <li><a href="">Общая врачебная практика (семейная медицина)</a></li>
                    <li><a href="">Эндокринология</a></li>
                    <li><a href="">Терапия</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 visible-xs">
                <div class="videoconf-main__future-pay-btn"><a href="" class="btn btn--blue btn--center">Купить доступ</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="videoconf-main__future-calendar hidden-xs col-sm-3 col-md-3">
          <div class="row">
            <div class="calendar">
              <div class="calendar__month">
                <a href="" class="calendar__arrow-left"></a><span>Сентябрь, 2015</span>
                <a href="" class="calendar__arrow-right"></a>
              </div>
              <div class="calendar__table">
                <ul class="calendar__table-head">
                  <li>ПН</li>
                  <li>ВТ</li>
                  <li>СР</li>
                  <li>ЧТ</li>
                  <li>ПТ</li>
                  <li>СБ</li>
                  <li>ВС</li>
                </ul>
                <ul class="calendar__table-body">
                  <li class="calendar__disabled">29</li>
                  <li class="calendar__disabled">31</li>
                  <li>1</li>
                  <li><span class="calendar__blue">2</span></li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>10</li>
                  <li>11</li>
                  <li>12</li>
                  <li>13</li>
                  <li>14</li>
                  <li><span class="calendar__blue">15</span></li>
                  <li>16</li>
                  <li>17</li>
                  <li>18</li>
                  <li>19</li>
                  <li>20</li>
                  <li>21</li>
                  <li><span class="calendar__red">22</span></li>
                  <li>23</li>
                  <li>24</li>
                  <li>25</li>
                  <li>26</li>
                  <li>27</li>
                  <li>28</li>
                  <li>29</li>
                  <li>30</li>
                  <li>31</li>
                  <li>1</li>
                  <li>2</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="banner-right visible-lg col-xs-12 col-md-3">
        <div class="banner-right__wrapper">
          <a href="#"><img src="img/pics/banner3.jpg" alt="" /></a>
        </div>
      </section>
      <div class="clearfix"></div>
      <div class="videoconf-main__past">
        <h3 class="col-xs-12">Прошедшие</h3>
        <div class="videoconf-main__past-carousel col-xs-12 col-sm-8 col-md-12">
          <div id="videoconf-past-carousel" class="videoconf-main__past-items owl-carousel">
            <div class="videoconf-main__past-item">
              <div class="videoconf-main__past-item-img"><img src="img/pics/videoconference2.jpg" alt="" /></div>
              <div class="videoconf-main__past-item-date"><span>22 июля 2015</span></div><a href="" class="videoconf-main__past-item-link">Вебинар "Безопасность применения лекарственных средств у беременных"</a> </div>
            <div class="videoconf-main__past-item">
              <div class="videoconf-main__past-item-img"><img src="img/pics/videoconference3.jpg" alt="" /></div>
              <div class="videoconf-main__past-item-date"><span>22 июля 2015</span></div><a href="" class="videoconf-main__past-item-link">Вебинар "Обсессивно-компульсивное расстройство (Часть 1): этиопатогенетические и диагностические аспекты"</a> </div>
            <div class="videoconf-main__past-item">
              <div class="videoconf-main__past-item-img"><img src="img/pics/videoconference4.jpg" alt="" /></div>
              <div class="videoconf-main__past-item-date"><span>22 июля 2015</span></div><a href="" class="videoconf-main__past-item-link">Вебинар "Рациональная фармакотерапия болевого синдрома - акцент на НПВС"</a> </div>
            <div class="videoconf-main__past-item">
              <div class="videoconf-main__past-item-img"><img src="img/pics/videoconference5.jpg" alt="" /></div>
              <div class="videoconf-main__past-item-date"><span>22 июля 2015</span></div><a href="" class="videoconf-main__past-item-link">Вебинар "Минимизация риска геморрагических осложнений на фоне антикоагулянтной и антитромботической терапии"</a> </div>
            <div class="videoconf-main__past-item">
              <div class="videoconf-main__past-item-img"><img src="img/pics/videoconference2.jpg" alt="" /></div>
              <div class="videoconf-main__past-item-date"><span>22 июля 2015</span></div><a href="" class="videoconf-main__past-item-link">Вебинар "Безопасность применения лекарственных средств у беременных"</a> </div>
            <div class="videoconf-main__past-item">
              <div class="videoconf-main__past-item-img"><img src="img/pics/videoconference3.jpg" alt="" /></div>
              <div class="videoconf-main__past-item-date"><span>22 июля 2015</span></div><a href="" class="videoconf-main__past-item-link">Вебинар "Обсессивно-компульсивное расстройство (Часть 1): этиопатогенетические и диагностические аспекты"</a> </div>
            <div class="videoconf-main__past-item">
              <div class="videoconf-main__past-item-img"><img src="img/pics/videoconference4.jpg" alt="" /></div>
              <div class="videoconf-main__past-item-date"><span>22 июля 2015</span></div><a href="" class="videoconf-main__past-item-link">Вебинар "Рациональная фармакотерапия болевого синдрома - акцент на НПВС"</a> </div>
            <div class="videoconf-main__past-item">
              <div class="videoconf-main__past-item-img"><img src="img/pics/videoconference5.jpg" alt="" /></div>
              <div class="videoconf-main__past-item-date"><span>22 июля 2015</span></div><a href="" class="videoconf-main__past-item-link">Вебинар "Минимизация риска геморрагических осложнений на фоне антикоагулянтной и антитромботической терапии"</a> </div>
          </div>
          <div class="videoconf-main__past-nav hidden-xs">
            <a href="" class="videoconf-main__past-nav-left"></a>
            <a href="" class="videoconf-main__past-nav-right"></a>
          </div><a href="" class="btn btn--center visible-xs">Все видеоконференции</a> </div>
        <section class="banner-right hidden-xs hidden-lg col-sm-4">
          <div class="banner-right__wrapper">
            <a href="#"><img src="img/pics/banner3.jpg" alt="" /></a>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>