extends templates/_layout

block content

	section.banner-horizontal.banner-horizontal--margin-bottom.col-xs-12
		.banner-horizontal__wrapper
			a(href="#")
				img(src="img/pics/banner1.jpg", alt="")

	section.actual.col-xs-12.col-md-9
		h2 Актуально
		.actual__slider
			.actual__slider-head
				.actual__slide-description
					p Хронические заболевания вен: наследственные или приобретенные?
					.actual__slide-description-watch 174
				img(src="img/pics/slider1.jpg", alt="").actual__slider-img
				a(href="#").actual__slider-link
			.actual__slider-footer
				.actual__slider-items
					.actual__slider-item(data-img="slider1.jpg" data-href="#1")
						.actual__slider-item-title Рецензия на монографию Т.Э.Глущенко, М.Ф.Белокрыловой
						.actual__slider-item-category Психиатрия
						.actual__slider-item-watch 232
					.actual__slider-item(data-img="slider1.jpg" data-href="#2")
						.actual__slider-item-title Хронические заболевания вен: наследственные или приобретенные?
						.actual__slider-item-category Хирургия
						.actual__slider-item-watch 174
					.actual__slider-item(data-img="slider1.jpg" data-href="#3")
						.actual__slider-item-title Взаимосвязь полиморфного аллельного варианта rs619203 гена-рецептора
						.actual__slider-item-category Кардиосоматика
						.actual__slider-item-watch 343
				.actual__slider-nav
					a.actual__slider-left(href="#")
					a.actual__slider-right(href="#")

	section.banner-right.hidden-xs.hidden-sm.col-md-3
		.banner-right__wrapper
			a(href="#")
				img(src="img/pics/banner2.jpg", alt="")