extends templates/_layout

block content

	section.banner-horizontal.banner-horizontal--margin-bottom.col-xs-12
		.banner-horizontal__wrapper
			a(href="#")
				img(src="img/pics/banner1.jpg", alt="")

	include components/_actual

	section.banner-right.hidden-xs.hidden-sm.col-md-3
		.banner-right__wrapper.banner-right__wrapper--height-430
			a(href="#")
				img(src="img/pics/banner2.jpg", alt="")

	include components/_journal-carousel

	section.banner-right.hidden-xs.hidden-lg.hidden-md.col-sm-4
		.banner-right__wrapper.banner-right__wrapper--padding-top
			a(href="#")
				img(src="img/pics/banner2.jpg", alt="")