extends templates/_layout

block content

	section.banner-horizontal.banner-horizontal--margin-bottom.col-xs-12
		.banner-horizontal__wrapper
			a(href="#")
				img(src="img/pics/banner1.jpg", alt="")

	include components/_actual

	section.banner-right.hidden-xs.hidden-sm.col-md-3
		.banner-right__wrapper.banner-right__wrapper--height-430
			a(href="#")
				img(src="img/pics/banner2.jpg", alt="")

	include components/_journal-carousel

	section.banner-right.hidden-lg.hidden-md.col-xs-12.col-sm-4
		.banner-right__wrapper.banner-right__wrapper--padding-top.banner-right__wrapper--padding-bottom
			a(href="#")
				img(src="img/pics/banner2.jpg", alt="")

	section.banner-horizontal.banner-horizontal--margin-bottom.col-xs-12
		.banner-horizontal__wrapper
			a(href="#")
				img(src="img/pics/banner1.jpg", alt="")

	include components/_videoconf-main

	include components/_news-main

	section.banner-right.col-xs-12.col-sm-4.col-md-3
		.banner-right__wrapper.banner-right__wrapper--padding-top
			a(href="#")
				img(src="img/pics/banner4.jpg", alt="")

	include components/_events-main

	section.banner-horizontal.col-xs-12#fixed-hor-banner
		.banner-horizontal__wrapper
			a(href="#")
				img(src="img/pics/banner5.jpg", alt="")