<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Pages
body
	ul
		li: a(href="index.html" target="_blank") Главная
		li: a(href="personal-area.html" target="_blank") Личный кабинет
		li: a(href="pay.html" target="_blank") Оплата
		li: a(href="search.html" target="_blank") Поиск