extends templates/_layout

block content
	include components/_breadcrumbs

	section.post.col-xs-12.col-md-9
		.post__wrapper
			.row
				h1.h2.post__title.col-xs-12
					span Consilium Medicum №10 2015
					|Комбинированная терапия артериальной гипертензии: новая фиксированная комбинация блокатора рецептора ангиотензина II и диуретика (азилсартана медоксомила с хлорталидоном)
				.post__author.col-xs-12.col-sm-8
					span Автор:
					|Д.А.Напалков ГБОУ ВПО Первый Московский государственный медицинский университет им. И.М.Сеченова Минздрава России. 119991, Россия, Москва, ул. Трубецкая, д. 8, стр. 2
				.post__pages.col-xs-12.col-sm-4
					span Номера страниц в выпуске:
					|13-18

			blockquote.post__bq
				.post__bq-title
					strong Для цитирования
					span Скрыть список
				.post__bq-text
					p О.Д.Остроумова1,2, В.М.Фомина1. Комбинированная терапия артериальной гипертензии: новая фиксированная комбинацияблокатора рецептора ангиотензина II и диуретика (азилсартана медоксомила с хлорталидоном). Consilium Medicum. 2015; 10: 13-18

			.post__text
				p Цель исследования. Оценка антигипертензивной эффективности и влияния на состояние сосудистой эластичности и метаболические показатели фиксированных комбинаций бисопролола с амлодипином и эналаприла с гидрохлоротиазидом у больных артериальной гипертензией.
				p Материалы и методы. В слепое рандомизированное контролируемое сравнительное исследование в параллельных группах препаратов бисопролол (5 мг) и амлодипин (5 мг), эналаприл (10 мг) и гидрохлоротиазид (12,5 мг) были включены 60 больных артериальной гипертензией, у которых исходно и через 12 нед лечения оценивались показатели эластичности центральных и периферических артерий.
				p Результаты. Достоверных различий между препаратами по антигипертензивной эффективности выявлено не было. На показатели ангиопротекции и липидного и углеводного обмена более выраженное положительное влияние оказала комбинация бисопролола и амлодипина. Степень положительного влияния была наибольшей у пациентов с исходной частотой сердечных сокращений выше 75 уд/мин.
				p <strong>Ключевые слова:</strong> артериальная гипертензия, сосудистая эластичность, бисопролол, амлодипин, эналаприл, гидрохлоротиазид.<br>solarheart7@gmail.com
				p <strong>Для цитирования:</strong> Недогода С.В., Саласюк А.С., Цома В.В., Чумачек Е.В. Влияние фиксированной комбинации амлодипина и бисопролола на сосудистую эластичность у пациентов с артериальной гипертензией. Consilium Medicum. 2015; 17 (10): 19–22.
				h3 The influence of fixed-dose combination of amlodipine and bisoprolol on vascular elasticity in patients with arterial hypertension
				p: strong S.V.Nedogoda, A.S.Salasiuk, V.V.Tsoma, E.V.Chumachek Volgograd State Medical University of the Ministry of Health of the Russian Federation. 400131, Russian Federation, Volgograd, pl. Pavshikh bortsov, d. 1
				p The aim of the study is to evaluate antihypertensive efficacy and effects on the vascular elasticity and metabolic indicators in case of application of two fixed-dose combinations of bisoprolol and amlodipine and enalapril and hydrochlorothiazide in patients with arterial hypertension.
				p Materials and methods. 60 patients suffering from arterial hypertension were included in reference-controlled, randomized blind study among parallel group of drugs: bisoprolol (5 mg) and amlodipine (5 mg), enalapril (10 mg) and hydrochlorothiazide (12.5 mg); all 60 patients were examined initially and after 12 weeks of the treatment for central and peripheral arterial elasticity.
				p Results. There was no significant difference in the antihypertensive efficacy between the drugs. The combination of bisoprolol and amlodipine showed significant positive effect on the indices of angioprotection and lipid and carbohydrate metabolism. The degree of positive effect was highest in patients with baseline heart rate over 75 beats per minute.
				p Key words: arterial hypertension, vascular elasticity, bisoprolol, amlodipine, enalapril, hydrochlorothiazide.<br>solarheart7@gmail.com
				p For citation: Nedogoda S.V., Salasiuk A.S., Tsoma V.V., Chumachek E.V. The influence of fixed-dose combination of amlodipine and bisoprolol on vascular elasticity in patients with arterial hypertension. Consilium Medicum. 2015; 17 (10): 19–22.io.
				hr
				p Согласно современным подходам к терапии артериальной гипертонии (АГ) многим больным уже на старте лечения показана комбинированная антигипертензивная терапия (АГТ) <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>. Комбинацию двух антигипертензивных препаратов (АГП) в низких дозах назначают пациентам с высоким или очень высоким риском сердечно-сосудистых осложнений, т.е. наличием у них поражений органов-мишеней, метаболического синдрома, сахарного диабета (СД), ассоциированных клинических состояний, 3 и более дополнительных факторов риска (Российские рекомендации по диагностике и лечению артериальной гипертензии, 4-я редакция) <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>. К преимуществам комбинированной терапии (в том числе и на старте лечения) относят тот факт, что в большинстве случаев назначение препаратов с разными механизмами действия позволяет, с одной стороны, добиться целевого артериального давления (АД) у большего числа больных, а с другой – минимизировать количество побочных эффектов <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>. Комбинированная терапия позволяет также подавить контррегуляторные механизмы повышения АД <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>. Необходимо отметить, что эти преимущества относятся только к рациональным комбинациям антигипертензивных средств. Применение фиксированных комбинаций (ФК) АГП в одной таблетке повышает приверженность пациентов лечению <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>.
				p Комбинации двух АГП делят на рациональные (эффективные), возможные и нерациональные <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>. К рациональным комбинациям относят в том числе и комбинацию блокаторов рецепторов ангиотензина (АТ) II (БРА) с диуретиками <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>.
				p Среди 5 основных классов АГП БРА являются наиболее динамично развивающейся группой. Их отличительная черта – высокая антигипертензивная эффективность, мощное органопротективное действие (кардио-, нефро- и церебропротективное) и низкая, практически сопоставимая с плацебо, частота побочных эффектов (включая максимально разрешенные к применению дозы БРА) <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>.
				p Известно, что самый эффективный способ блокирования ренин-ангиотензин-альдостероновой системы (РААС) – блокирование связи между АТ II и рецептором <acronym data-text="Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[2]</acronym>. В основе антигипертензивного действия и других фармакологических эффектов БРА лежат несколько механизмов – один прямой и по меньшей мере два косвенных [2, 3]. Прямой механизм – это ослабление эффектов АТ II, опосредуемых через рецепторы 1-го типа. Это обусловливает уменьшение вазоконстрикции, секреции альдостерона, эндотелина-1, снижение повышенного давления в нейронах и др. Косвенные механизмы связаны со стимуляцией АТ2- и АТх-рецепторов [2, 3].
				p: img(src="img/pics/post1.jpg", alt="")
				p Рациональность сочетания БРА с диуретиками полностью обоснована <acronym data-text="Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[2]</acronym>. Антигипертензивный эффект всех диуретиков ограничен неизбежно возникающей на фоне их применения реактивной гиперренинемией и вторичной гиперальдостеронемией, связанными с активацией РААС, выраженность которых значительно снижается при одновременном назначении БРА. Совместное применение БРА и диуретиков позволяет значительно повысить эффективность обоих препаратов, что ведет к расширению круга пациентов, отвечающих на терапию, позволяя чаще достигать целевого уровня АД. Так, это подтверждается данными метаанализа 43 исследований, в которых антигипертензивную эффективность БРА в виде монотерапии и комбинации с диуретиком оценивали в сравнении с плацебо, другими группами АГП или проводили прямое сравнение между разными БРА <acronym data-text="Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[2]</acronym>. В исследованиях, включенных в данный метаанализ, использовали лозартан, валсартан, ирбесартан и кандесартан, в общей сложности в них принял участие 11 281 пациент. При монотерапии в начальной дозе 50, 80, 150 и 8 мг/сут, соответственно, для лозартана, валсартана, ирбесартана и кандесартана, все эти БРА снижали АД примерно одинаково на -10,4–11,8/-8,2–8,9 мм рт. ст. Сопоставимо было и число больных, достигших целевого уровня АД. При увеличении дозы препаратов вдвое все они продемонстрировали незначительное нарастание антигипертензивного эффекта и числа пациентов, достигших целевого уровня АД. Однако при комбинации начальных доз БРА с диуретиком наблюдалось отчетливое нарастание антигипертензивной эффективности с увеличением лиц, достигших целевого АД, до 70% <acronym data-text="Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[2]</acronym>.
				p У больных с низко- и норморениновой АГ эффективность БРА может быть недостаточной, добавление же диуретика помогает ее повысить. В результате эта комбинация (БРА + диуретик) эффективно снижает АД практически у всех пациентов независимо от исходной активности РААС, что позволяет применять ее при нормо- и даже гипорениновой формах АГ <acronym data-text="Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[2]</acronym>. Дополнительное снижение АД при комбинированной терапии диуретиком и БРА также обусловлено тем, что последние потенцируют натрийуретический эффект мочегонных препаратов, повышая их действенность. Совместное применение БРА и диуретиков приводит к аддитивному антигипертензивному эффекту при использовании меньших доз обоих антигипертензивных средств.
				p: img(src="img/pics/post2.jpg", alt="")
				p БРА предотвращают развитие гипокалиемии, возникающей в результате стимуляции выработки альдостерона под действием диуретиков, за счет уменьшения активности АТ II и снижения концентрации альдостерона, что способствует обратному всасыванию калия, теряемому при назначении мочегонных препаратов <acronym data-text="Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[2]</acronym>. Одновременно совместное применение БРА и диуретиков способствует усиленному выведению натрия из организма, уменьшая тем самым нагрузку объемом. Также крайне важно, что совместное применение диуретиков с БРА позволяет предотвратить отрицательное влияние диуретиков на углеводный обмен, инсулинорезистентность <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]

				Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[1, 2]</acronym>.
				p Следовательно, сочетание БРА с диуретиками является заведомо рациональной комбинацией. Эта комбинация обладает практически теми же преимуществами, что и комбинация ингибиторов ангиотензинпревращающего фермента (ИАПФ) с диуретиками, но имеет лучший профиль переносимости.
				p В Российских рекомендациях по диагностике и лечению артериальной гипертензии (2010 г.) впервые сформулированы показания к назначению рациональных комбинаций <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>. Комбинация БРА и тиазидного диуретика имеет самый широкий из всех рациональных комбинаций спектр показаний и включает <acronym data-text="Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]">[1]</acronym>:
				ul
					li хроническую сердечную недостаточность;
					li диабетическую и недиабетическую нефропатию;
					li микроальбуминурию;
					li гипертрофию миокарда левого желудочка;
					li СД;
					li метаболический синдром;
					li пожилой возраст;
					li изолированную систолическую АГ;
					li кашель при приеме ИАПФ.
				p АГТ комбинацией БРА с диуретиком обеспечивает равномерный и длительный антигипертензивный эффект, что позволяет достичь целевого уровня АД у 80–90% пациентов <acronym data-text="Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[2]</acronym>. Однако есть и некоторые ограничения. Так, например, в начале лечения необходимо учитывать медленное нарастание антигипертензивного эффекта и оценивать его примерно на 2–4-й неделе терапии, недооценка этого факта может привести к необоснованной замене препарата. Максимум антигипертензивного действия комбинации БРА с диуретиком гидрохлоротиазидом (ГХТ) наблюдается к 12-й неделе. Хорошая эффективность и отличная переносимость комбинации БРА с диуретиком, несомненно, способствуют значительной приверженности пациентов назначенному лечению <acronym data-text="Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]">[2]</acronym>. Следует обратить внимание, что, хотя в Российской Федерации широко применяется большое количество ФК БРА с диуретиком, все они в качестве диуретика содержат ГХТ. Именно поэтому особый интерес вызывает новая ФК, в настоящее время зарегистрированная к применению в России, Эдарби® Кло – сочетание азилсартана медоксомила с хлорталидоном (ХТД).

			.post__author-info
				h3 СВЕДЕНИЯ ОБ АВТОРАХ
				p
					strong Остроумова Ольга Дмитриевна
					|  – д-р мед. наук, проф. каф. факультетской терапии и профболезней ГБОУ ВПО МГМСУ им. А.И.Евдокимова, проф. каф. клинической фармакологии и пропедевтики внутренних болезней ГБОУ ВПО Первый МГМУ им. И.М.Сеченова. E-mail: ostroumova.olga@mail.ru
				p
					strong Фомина Вера Михайловна
					|  – канд. мед. наук, доц. каф. факультетской терапии и профболезней ГБОУ ВПО МГМСУ им. А.И.Евдокимова

			blockquote.post__bq
				.post__bq-title
					strong Список исп. литературы
					span Скрыть список
				.post__bq-text
					ol
						li Диагностика и лечение артериальной гипертензии (Рекомендации Российского медицинского общества по артериальной гипертонии и Всероссийского научного общества кардиологов). Системные гипертензии. 2010; 3: 5–26. / Diagnosis and treatment of arterial hypertension (Recommendations for the management of arterial hypertension Russian Medical Society of Arterial Hypertension and Society of Cardiology of the Russian Federation. Systemic Hypertension. 2010; 3: 5–26. [in Russian]
						li Чазова И.Е., Ратова Л.Г. Комбинированная терапия артериальной гипертонии. М.: Медиа-Медика, 2007; с. 86–94. / Chazova I.E., Ratova L.G. Kombinirovannaia terapiia arterial'noi gipertonii. M.: Media-Medika, 2007; s. 86–94. [in Russian]
						li Ojima M, Igata H, Tanaka M et al. In vitro antagonistic properties of a new angiotensin type 1 receptor blocker, azilsartan, in receptor binding and function studies. J Pharmacol Exp Ther 2011; 336 (3): 801–8.
						li Sica D, White W, Weber M et al. Comparison of the Novel Angiotensin II Receptor Blocker Azilsartan Medoxomil vs Valsartan by Ambulatory Blood Pressure Monitoring. J Clin Hypertens (Greenwich) 2011; 13: 467–72.
						li Bakris GL, Sica D, Weber M et al. The comparative effects of azilsartan medoxomil and olmesartan on ambulatory and clinic blood pressure. J Clin Hypertens (Greenwich) 2011; 13 (2): 81–8.
						li White WB, Weber MA, Sica D et al. Effects of the angiotensin receptor blocker azilsartan medoxomil versus olmesartan and valsartan on ambulatory and clinic blood pressure in patients with stages 1 and 2 hypertension. Hypertension 2011; 57 (3): 413–20.
						li Bönner G, Bakris G, Sica D et al. Antihypertensive efficacy of the angiotensin receptor blocker azilsartan medoxomil compared with the angiotensin-converting enzyme inhibitor ramipril. J Hum Hypertens 2013; 27 (8): 479–86.
						li The ALLHAT officers and coordinators for the ALLHAT collaborative research group. Major outcome in high-risk hypertensive patients randomized to angiotensin-converting enzyme inhibitor or calcium channel blоcker vs diuretic. The antihypertensive and lipid-lowering treatment to prevent heart attack trial (ALLHAT). JAMA 2002; 288: 2981–97.
						li Systolic Hypertension in the Elderly Program Cooperative Research Group: Prevention of stroke by antihypertensive drug treatment in older persons with isolated systolic hypertension: Final results of the Systolic Hypertension in the Elderly Program. JAMA 1991; 265: 3255–64.
						li Neaton JD, Grimm RH Jr, Prineas RJ et al. Treatment of mild hypertension study: Final results: Treatment of Mild Hypertension Study Research Group. JAMA 1993; 270: 713–24.
						li Kurtz TW. Chlorthalidone: don’t call it “thiazide-like” anymore. Hypertension 2010; 56: 335–7.
						li Carter BL, Ernst ME, Cohen JD. Hydrochlorothiazide versus chlorthalidone: evidence supporting their interchangeability. Hypertension 2004; 43: 4–9.

			.post__bottom.row
				.post__date.col-xs-6.col-sm-3 08 Октября 2015
				.post__share.col-xs-6.col-sm-3
					script.
						(function() {
							if (window.pluso)if (typeof window.pluso.start == "function") return;
							if (window.ifpluso==undefined) { window.ifpluso = 1;
								var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
								s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
								s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
								var h=d[g]('body')[0];
								h.appendChild(s);
							}})();
					div(class="pluso" data-background="transparent" data-options="small,square,line,horizontal,counter,theme=04" data-services="tumblr,facebook,twitter,email")
				.post__wishlist.col-xs-12.col-sm-3
					a(href="").btn.btn--wishlist
						span.btn__text В избранное
						span.btn__count 19
				.post__view.col-xs-12.col-sm-3 Количество просмотров:
					strong  315
				.post__prev.col-xs-12.col-sm-6
					a(href="").btn.btn--arrow-left Предыдущая статья
					a(href="").post__prev-link Артериальная гипертония и почки
				.post__next.col-xs-12.col-sm-6
					a(href="").btn.btn--arrow-right Следующая статья
					a(href="").post__prev-link Влияние фиксированной комбинации амлодипина и бисопролола на сосудистую эластичность у пациентов с артериальной гипертензией

	aside.sidebar.col-xs-12.col-md-3
		.sidebar__wrapper.row
			.col-xs-12.col-sm-6.col-md-12
				.sidebar__arhive
					strong АРХИВ ЖУРНАЛА
					.sidebar__archive-years
						ul.owl-carousel#archive-year
							li.sidebar__archive-year
								a(href="") 2008
							li.sidebar__archive-year
								a(href="") 2009
							li.sidebar__archive-year
								a(href="") 2010
							li.sidebar__archive-year
								a(href="") 2012
							li.sidebar__archive-year
								a(href="") 2013
							li.sidebar__archive-year
								a(href="") 2014
							li.sidebar__archive-year.sidebar__archive-year--active#archive-year-start
								a(href="") 2015
							li.sidebar__archive-year
								a(href="") 2016
						.sidebar__archive-nav
							.sidebar__archive-nav-left
							.sidebar__archive-nav-right
					.sidebar__archive-number
						strong ВЫБЕРИТЕ НОМЕР
						ul.sidebar__archive-number-list
							li.sidebar__archive-number-item
								a(href="")
									span 1
							li.sidebar__archive-number-item
								a(href="")
									span 2
							li.sidebar__archive-number-item
								a(href="")
									span 3
							li.sidebar__archive-number-item
								a(href="")
									span 4
							li.sidebar__archive-number-item
								a(href="")
									span 5
							li.sidebar__archive-number-item
								a(href="")
									span 6
							li.sidebar__archive-number-item
								a(href="")
									span 7
							li.sidebar__archive-number-item
								a(href="")
									span 8
							li.sidebar__archive-number-item
								a(href="")
									span 9
							li.sidebar__archive-number-item.sidebar__archive-number-item--active
								a(href="")
									span 10
							li.sidebar__archive-number-item
								a(href="")
									span 11
							li.sidebar__archive-number-item
								a(href="")
									span 12

				.sidebar__banner
					a(href="")
						img(src="img/pics/banner3.jpg", alt="")

				.sidebar__post-list
					strong Также в этом номере:
					ul
						li
							a(href="") Рецензия на монографию Т.Э.Глущенко, М.Ф.Белокрыловой
						li
							a(href="") Спектр применения Афобазола в общемедицинской практике (обзор клинических исследований)
						li
							a(href="") Паническое расстройство: опыт использования эсциталопрама
			.sidebar__social-wrapper.col-xs-12.col-sm-6.col-md-12
				.sidebar__social
					img(src="img/pics/social.jpg", alt="")
				.sidebar__social
				.sidebar__social