extends templates/_layout

block content

	section.search.col-xs-12.col-md-9
		.search__wrapper
			h1.h2.search__title Поиск
			form.search__form(action="")
				.row
					.search__input-wrapper.col-xs-8.col-sm-10
						input.search__input(type="text")
					.search__submit-wrapper.col-xs-4.col-sm-2
						button.btn.search__submit(type="submit") Найти
				.search__filters
					.search__filter-options
						span Искать по:
						.search__form-checkbox
							input#search-checkbox-name(type="checkbox" checked)
							label(for="search-checkbox-name") Названию
						.search__form-checkbox
							input#search-checkbox-author(type="checkbox" checked)
							label(for="search-checkbox-author") Автору
						.search__form-checkbox
							input#search-checkbox-text(type="checkbox" checked)
							label(for="search-checkbox-text") Тексту
					.search__filter-group
						input#search-checkbox-group(type="checkbox")
						label(for="search-checkbox-group") Группировать результаты поиска (по журналам)
			.search__result
				.search__sum Нашлось записей:
					strong  500
				ol.search__list
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015
					li.search__item
						a.search__link(href="") Сочетанная патология сосудов, сердца и мозга
						.search__author
							span Автор:
							|Сердцев Иван Петрович
						.search__path
							span Путь:
							ul
								li
									a(href="") Журналы
								li
									a(href="") Consilium Medicum
								li
									a(href="") №10 2015

			.pagination
				ul.pagination__list
					li.pagination__item.pagination__item--left.pagination__item--disabled
						a(href="")
					li.pagination__item.pagination__item--active
						a(href="") 1
					li.pagination__item
						a(href="") ...
					li.pagination__item
						a(href="") 16
					li.pagination__item
						a(href="") 17
					li.pagination__item
						a(href="") 18
					li.pagination__item
						a(href="") ...
					li.pagination__item
						a(href="") 32
					li.pagination__item.pagination__item--right
						a(href="")
					li.pagination__item.pagination__item--all.hidden-xs
						a(href="") Все

	aside.sidebar.col-xs-12.col-md-3
		.sidebar__wrapper.row
			.sidebar__banner.col-xs-12.col-sm-6.col-md-12
				a(href="")
					img(src="img/pics/banner2.jpg", alt="")
			.sidebar__social-wrapper.col-xs-12.col-sm-6.col-md-12
				.sidebar__social
					img(src="img/pics/social.jpg", alt="")
				.sidebar__social
				.sidebar__social